@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
         url("fonts/OpenSans.ttf");
}

html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
	background:#fafafa;
}

.wrapper {
	max-width:1600px;
	min-width:1000px;
	padding:10px 20px;
	margin:0px auto;
	background:#fff;
}



.point-view-container{
    margin: auto;
}

.point-form-container{
    float: left;
}

.point-form {

}
.point-form input {
	width:350px;
}
.point-form input[type=submit] {
	width:150px;
	padding:5px;
}
.point-form textarea {
	width:350px;
	height:200px;
}
.point-form img {
	max-width:800px;
	max-height:500px;
	display:block;
}

.pointList {width:100%;}
.pointList td {padding:4px 10px;}
.pointList tr:nth-child(odd) td {background:#f5f5f5;}

.point-map-container{
    float: left;
    width: 600px;
    height: 100%;
	margin-left:50px;
}

#point-map{
    width: 600px;
    height: 500px;
}

.point-clearfix{
    clear: both;
}




