@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
         url("fonts/OpenSans.ttf");
}

html, body, main, #tp-map{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 660px;
    min-width: 1317px;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: absolute;
    width: 337px;
    /*height: 100%;*/
    /*height: 110px;*/
    background: rgba(0, 0, 0, 0.8);
    /*overflow: hidden;*/
    z-index: 2;
    font-family: Verdana, sans-serif;
    font-size: 13px !important;
}

header.hide{
    height: 110px;
}

header.show{
    height: 100%;
}

.tp-nav{
    position: absolute;
    top: 0;
    left: 0;
/*    min-width: 1317px;*/
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.tp-nav .tp-logo{
    padding: 25px 0 25px 0;
    margin: 0;
    width: 100%;
}

.tp-logo img{
    display: block;
    margin: auto;
    padding: 0;
    /*border: 1px solid black;*/
}

.tp-nav ul{
    display: inline-block;
    padding: 0;
    margin: 0 0 0 5%;
    vertical-align: middle;
    list-style: none;
    /*border: 1px solid black;*/
}

.tp-nav li{
    float: left;
    height: 100%;
    padding: 0;
    margin: 0 10px 0 0;
}

.tp-nav input[type='text'],
.tp-nav input[type='email'],
.tp-nav textarea{
    width: 100%;
    padding: 20px 20px 0 20px;
    color: white;
    font-family: Verdana;
    font-size: 13px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #767a80;
}

input::-ms-clear {
    display: none;
}

.tp-nav .menu-block{
    position: relative;
    padding-bottom: 2px;
    height: 22px;
    width: 100%;
    box-sizing: border-box;
}

.tp-nav .tp-navMenu{
    margin: 0;
    height: 100%;
}

.tp-nav .tp-navMenu li{
    float: left;
    margin-right: 0;
}

.tp-nav .tp-navMenu li a{
    display: block;
    padding: 2px 20px 0 20px;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: white;
}

.tp-nav .tp-navMenu li a.active{
    background: rgba(255, 255, 255,  0.4);
}

.tp-nav .menu-arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 21px;
    height: 11px;
    vertical-align: bottom;
    cursor: pointer;
}

.tp-nav .menu-arrow-show{
    background: url('../img/arrow-menu-show.png') no-repeat;
}

.tp-nav .menu-arrow-hide{
    background: url('../img/arrow-menu-hide.png') no-repeat;
}

/*.tp-head-block{
    display: table-cell;
    height: auto;
}*/

.tp-nav .tp-content-block{
    height: 82%;
    height: -webkit-calc(100% - 112px); /** Safari 6, Chrome 19-25 **/
    height: -moz-calc(100% - 112px); /** FF 4-15  **/
    height: calc(100% - 112px);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
}

.tp-nav .tp-navForm{
    display: block;
    margin: 0;
    width: 100%;
}

/*.tp-nav .tp-navForm input[type='text']{
    width: 100%;
    padding: 20px 20px 0 20px;
    color: white;
    box-sizing: border-box;
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #767a80;
}*/

.tp-nav .selectPlace{
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.route-block{
    height: 100%;
    box-sizing: border-box;
}

.tp-nav .tp-navForm .selectPlace li{
    float: left;
    margin: 0 30px 0 0;
    padding: 0;
    vertical-align: middle;
}

.tp-nav .tp-navForm .selectPlace li:last-child{
    margin: 0;
}

.tp-nav .tp-navForm .selectPlace li label{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    /*margin-right: 50px;*/

}

.from-fields, .to-fields{
    position: relative;
}

.nav-btn, .clear-btn{
    display: inline-block;
    position: absolute;
    bottom: 5px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.nav-btn{
    left: 3px;
    background: url('../img/nav-btn.png');
	background-color: transparent;
}

.clear-btn{
    right: 3px;
    background: url('../img/clear-btn.png');
}

.tp-nav .tp-navForm input[type='checkbox']{
    margin-top: 10px;
    display: none;
}

.tp-nav .tp-navForm .selectPlace label .check-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    /*background: white;*/
    border-radius: 100%;
    cursor: pointer;
    background-size: cover !important;
}

.tp-nav .tp-navForm .selectPlace label .mus-icon{
    background: url('../img/checkboxIcons/museumNotActive.png');
}

.tp-nav .tp-navForm .selectPlace label .park-icon {
    background: url('../img/checkboxIcons/parksNotActive.png');
}

.tp-nav .tp-navForm .selectPlace label .mon-icon{
    background: url('../img/checkboxIcons/pamyatnikNotActive.png');
}

.tp-nav .tp-navForm .selectPlace label .church-icon{
    background: url('../img/checkboxIcons/hramNotActive.png');
}

.tp-nav .tp-navForm input[type='checkbox']:checked ~ .mus-icon{
    background: url('../img/checkboxIcons/museumActive.png');
}

.tp-nav .tp-navForm input[type='checkbox']:checked ~ .park-icon {
    background: url('../img/checkboxIcons/parksActive.png');
}

.tp-nav .tp-navForm input[type='checkbox']:checked ~ .mon-icon{
    background: url('../img/checkboxIcons/pamyatnikActive.png');
}

.tp-nav .tp-navForm input[type='checkbox']:checked ~ .church-icon{
    background: url('../img/checkboxIcons/hramActive.png');
}

/*.tp-nav .tp-navForm input[type='checkbox']:checked ~ span{
    *//*background: gray;*//*
}*/

.tp-nav .tp-navForm .tp-findButton-container{
    margin: 0;
    padding: 0;
}

.tp-nav .tp-navForm .tp-findButton-container .tp-findButton{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    color: white;
    font-family: Verdana;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
}

main{
    position: relative;
}

.tp-rightAside{
    position: absolute;
    left: 100%;
    height: 100%;
    width: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 2;
}

.tp-rightAside .content{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 80px;
    padding: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: rgba(255, 255, 255, 0.5);
    /*border: 1px solid black;*/
}

.list-container{
    height: 100%;
    overflow: auto;
    /*direction: rtl;*/
}

.tp-rightAside .content .showPlacesList{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: visible;
    /*direction: ltr;*/
}

.tp-rightAside .content .showPlacesList  li{
    height: 100px;
    margin: 3% 5% 3% 5%;
    padding: 0;
    border: 1px solid black;
}

.tp-rightAside .wrapButton{
    position: absolute;
    top: 60%;
    left: -25px;
    width: 25px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    /*border: 1px solid black;*/
}

.selMenu-wrap{
    background-image: url('../img/arrowUnwrap.png');
    background-repeat: no-repeat;
}

.tp-showPlaces{
    width: 100%;
    box-sizing: border-box;
    /*max-height: 350px;*/
    height: 67%;
    height: -webkit-calc(100% - 184px); /** Safari 6, Chrome 19-25 **/
    height: -moz-calc(100% - 184px); /** FF 4-15  **/
    height: calc(100% - 184px);
    background: url('../img/arrow-menu-hide.png') top center no-repeat;
    /*overflow-y: auto;*/
}

.tp-showPlaces .showPlacesList{
    display: table;
    width: 100%;
    margin: 0;
}

.tp-showPlaces .point-item{
    display: table-row;
    position: relative;
    margin: 0;
    padding: 10px 25px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #767a80;
    cursor: pointer;
}

.tp-showPlaces .point-item.switchOn{
    /*position: absolute;
    width: 20px;
    height: 20px;*/
    background: url('../img/arrow-item-show.png') no-repeat right center;
}

.tp-showPlaces .point-img, .tp-showPlaces .point-descr{
    /*display: inline-block;*/
    /*float: left;*/
}

.tp-showPlaces .point-img{
    display: table-cell;
    margin: 0;
    padding-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.tp-showPlaces .point-img img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.tp-showPlaces .point-descr{
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    font-size: 13px;
    color: white;
}



.version {
	position:absolute;
	background:rgba(100,100,100, 0.5);
	padding:5px 8px;
	bottom:0;
	right:0;
	z-index:1000;
}

.about-block .tp-about-text{
    padding: 20px;
    color: white;
    font-size: 13px;
}

.about-block .tp-about-text p{
    margin: 10px 0;
}

.about-block .response-title{
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: white;
    background: rgba(255, 255, 255, 0.4);
}

.about-block .response-form{
    position: relative;
    width: 100%;
    height: auto;
    background: url('../img/arrow-menu-hide.png') top center no-repeat;
}

.about-block .response-form textarea{
    height: 200px;
    overflow: auto;
    resize: none;
    border: none;
}

.about-block .response-btn-container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.about-block .response-btn{
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    color: white;
    font-family: Verdana;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
}

.success-window{
    display: none;
    position: absolute;
    top: 0;
    left: 337px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    white-space: nowrap;
}

.form-field-container{
    position: relative;
}

div.response-error{
/*    display: block;*/
    position: absolute;
    top: 0;
    left: 337px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    white-space: nowrap;
}

.point-view-container{
    margin: auto;
}

.point-form-container{
    float: left;
}

.point-form {

}
.point-form input {
	width:350px;
}
.point-form input[type=submit] {
	width:150px;
	padding:5px;
}
.point-form textarea {
	width:350px;
	height:200px;
}
.point-form img {
	max-width:800px;
	max-height:500px;
	display:block;
}

.pointList {width:100%;}
.pointList td {padding:4px 10px;}
.pointList tr:nth-child(odd) td {background:#f5f5f5;}

.point-map-container{
    float: left;
    width: 500px;
    height: 100%;
}

.point-clearfix{
    clear: both;
}


#tooltip {
	text-align:left;
	z-index: 9999;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	background: rgba(0,0,0,0.5);
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size:12px;
	border-radius:5px;
}



.point_map {
    width: 250px;
}
.point_map h2 {
    font-size: 15px;
    margin: 5px 0;
}
.point_map p {
    margin:10px 0;
}
.point_map_image {
    max-width: 250px;
    max-height: 300px;
    margin: 0px auto;
    display: block;
}